<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Retrieve File</title>
    <script>
        function copyToClipboard() {
            var copyText = document.getElementById("dataTextarea");
            copyText.select();
            copyText.setSelectionRange(0, 99999); // For mobile devices
            navigator.clipboard.writeText(copyText.value).then(function() {
                alert('Data copied to clipboard');
            }).catch(function(err) {
                alert('Error in copying text: ', err);
            });
        }
    </script>
</head>
<body>
    <h2>Retrieved Secrets</h2>
    
    <textarea id="dataTextarea" rows="10" cols="50" readonly>
{{ data }}
    </textarea>
    <img src="{{ url_for('static', filename='clipboard.png') }}" 
        alt="Copy secret to clipboard"
        class="copy-icon"
        width="18px"
        onclick="copyToClipboard()">
    
    <!-- Link to the Home Page -->
    <p><a href="{{ url_for('index') }}">Return to Home Page</a></p>
</body>
</html>
