<!DOCTYPE html>
<html lang="en">
<style>
    /* You can add style here to adjust the layout */
    .copy-icon {
        cursor: pointer; /* Makes it clear the icon is clickable */
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Secret Submitted</title>
    <script>
        function copyToClipboard(text) {
            navigator.clipboard.writeText(text).then(function() {
                alert('URL copied to clipboard');
            }).catch(function(err) {
                alert('Error in copying text: ', err);
            });
        }
    </script>
</head>
<body>
    <h2>Secret links</h2>
        {% for email in emails %}
            {% set secret_link = 'https://' ~ request.host ~ '/secret/' ~ ( email|md5 ) %}
            <p>
                {{ email }} <a href="{{ secret_link }}"></a>
                    <img src="{{ url_for('static', filename='clipboard.png') }}" 
                            alt="Copy secret link to clipboard"
                            class="copy-icon"
                            width="18px"
                            onclick="copyToClipboard('{{ secret_link }}')">
                </a>
            </p>
        {% endfor %}
        <p><a href="{{ url_for('index') }}">Return to Home Page</a></p>
</body>
</html>
